<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" Content-Type = "html">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" id="mars_news">
      <div class="col-md-12">
        <h2 class="heading">Lastest Mars News</h2>
        <h4 class="heading">{{result.news[0].Title}}</h4>
        <small> {{result.news[0].Paragraph}}</small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h2 class="heading">Featured Mars Image</h2>
        <img src={{result.image}} style="max-width: 100%;">
      </div>
      <div class="col-md-4">
        <div class="row">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h2 class="display-4">Mars Weather</h2>
                  <hr class="my-4"> <p>{{result.weather}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="heading">Mars Facts</h3>
            {{result.html|safe}}
        </div>

      </div>

    </div>
    <div class="row">
        <h1 class="heading" align="center">Mars Hemispheres</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{result.hemisphere[0].img_url}} style="width: 300%;">
                <div class="card-body">
                  <p class="card-text">{{result.hemisphere[0].title}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{result.hemisphere[1].img_url}} style="width: 300%;">
                <div class="card-body">
                  <p class="card-text">{{result.hemisphere[1].title}}</p>
                </div>
            </div>
        </div>

      
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{result.hemisphere[2].img_url}} style="width: 300%;">
                <div class="card-body">
                  <p class="card-text">{{result.hemisphere[2].title}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{result.hemisphere[3].img_url}} style="width: 300%;">
                <div class="card-body">
                  <p class="card-text">{{result.hemisphere[3].title}}</p>
                </div>
            </div>
        </div>      
      

    </div>

  </div>

 
</body>

</html>

